<%= form_with model: @coordinate, local: true do |f| %>
  <div class="row">
    <div class="col-sm-10 offset-1">
      <div class="row">
        <div class="col-sm-10 offset-1">
          <h4 style="padding-top: 60px;"><strong>位置情報</strong></h4>
          <hr>
        </div>
      </div>
      <div class="form-group" style="padding-top: 60px;">
        <div class="row">
          <div class="col-sm-5 offset-1">
            <p>施設名 <span class="badge badge-danger">必須</span></p>
            <%= f.text_field :name, class: 'form-control', placeholder: '例) 東京駅〇〇改札' %>
          </div>
          <div class="col-sm-5">
            <p>メモ</p>
            <%= f.text_area :memo, rows: "5", value: "", class: 'form-control', placeholder: '例) 入口に大きな段差あり' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-10 offset-1">
            <p>住所 <span class="badge badge-danger">必須</span></p>
            <%= f.text_field :address, class: 'form-control', id: "input-address", placeholder: '例) 東京都千代田区丸の内１丁目' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 offset-1">
          <p>有効な住所かの確認のため、ボタンをクリックしてください</p>
        </div>
        <div class="col-sm-4 offset-1">
          <%= f.hidden_field :latitude, id: "input-latitude" %>
          <%= f.hidden_field :longitude, id: "input-longitude" %>
          <%#= f.text_field :latitude, id: "input-latitude" %>
          <%#= f.text_field :longitude, id: "input-longitude" %>
          <button type="button" class="btn btn-secondary btn-block" id="is_active">
            <span class="" id="check-icon"><b>Check</b></span>
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-5 offset-1">
            <p>画像</p>
            <%= attachment_image_tag @coordinate, :image, :fill, 180, 120, size: "270x180", fallback: "no_image.jpg", id: 'coord_img' %>
            <%= f.attachment_field :image, id: "post_img" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-1">
          <h4 style="padding-top: 60px;"><strong>設備</strong></h4>
          <hr>
        </div>
      </div>
      <%= f.fields_for :facility do |ff| %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4 offset-1 alert alert-secondary text-center">
              <h5><b>Toilet Style</b></h5>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :toilet_jp, class: "custom-control-input" %>
                <%= ff.label :toilet_jp, "和式トイレ", class: "custom-control-label" %>
              </div>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :toilet_west, class: "custom-control-input" %>
                <%= ff.label :toilet_west, "洋式トイレ", class: "custom-control-label" %>
              </div>
            </div>
            <div class="col-sm-4 offset-2 alert alert-secondary text-center">
              <h5><b>Optional</b></h5>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :washlet, class: "custom-control-input" %>
                <%= ff.label :washlet, "ウォシュレット　", class: "custom-control-label" %>
              </div>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :powder_room, class: "custom-control-input" %>
                <%= ff.label :powder_room, "パウダールーム　", class: "custom-control-label" %>
              </div>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :changing_table, class: "custom-control-input" %>
                <%= ff.label :changing_table, "おむつ交換台設備", class: "custom-control-label" %>
              </div>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :ostomate, class: "custom-control-input" %>
                <%= ff.label :ostomate, "オストメイト　　", class: "custom-control-label" %>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4 offset-1 alert alert-secondary text-center">
              <h5><b>Usage classification</b></h5>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :can_everyone, class: "custom-control-input" %>
                <%= ff.label :can_everyone, "誰でもトイレ", class: "custom-control-label" %>
              </div>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :gender_separation, class: "custom-control-input" %>
                <%= ff.label :gender_separation, "男女別　　　", class: "custom-control-label" %>
              </div>
              <div class="custom-control custom-checkbox">
                <%= ff.check_box :wheelchair, class: "custom-control-input" %>
                <%= ff.label :wheelchair, "車いす対応　", class: "custom-control-label" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-10 offset-1">
          <h4 style="padding-top: 60px;"><strong>トイレ評価</strong></h4>
          <hr>
        </div>
      </div>
      <%= f.fields_for :evaluation do |fe| %>
        <div class="row">
          <div class="col-sm-10 offset-1">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8 offset-2">
                  <div class="field" id="cleanliness">
                    <span class="badge badge-danger">必須</span>
                    <%= fe.label :cleanliness, "清潔感　　　　　　　" %>
                    <%= fe.hidden_field :cleanliness, value: 0 %>
                    <div class="star-icon">
                      <i class="far fa-star fa-2x cleanliness"></i>
                      <i class="far fa-star fa-2x cleanliness"></i>
                      <i class="far fa-star fa-2x cleanliness"></i>
                      <i class="far fa-star fa-2x cleanliness"></i>
                      <i class="far fa-star fa-2x cleanliness"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8 offset-2">
                  <div class="field" id="breadth">
                    <span class="badge badge-danger">必須</span>
                    <%= fe.label :breadth, "広さ　　　　　　　　" %>
                    <%= fe.hidden_field :breadth, value: 0 %>
                    <div class="star-icon">
                      <i class="far fa-star fa-2x breadth"></i>
                      <i class="far fa-star fa-2x breadth"></i>
                      <i class="far fa-star fa-2x breadth"></i>
                      <i class="far fa-star fa-2x breadth"></i>
                      <i class="far fa-star fa-2x breadth"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8 offset-2">
                  <div class="field" id="luxury">
                    <span class="badge badge-danger">必須</span>
                    <%= fe.label :luxury, "高級感　　　　　　　" %>
                    <%= fe.hidden_field :luxury, value: 0 %>
                    <div class="star-icon">
                      <i class="far fa-star fa-2x luxury"></i>
                      <i class="far fa-star fa-2x luxury"></i>
                      <i class="far fa-star fa-2x luxury"></i>
                      <i class="far fa-star fa-2x luxury"></i>
                      <i class="far fa-star fa-2x luxury"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8 offset-2">
                  <div class="field" id="use_rate">
                    <span class="badge badge-danger">必須</span>
                    <%= fe.label :use_rate, "人の出入り　　　　　" %>
                    <%= fe.hidden_field :use_rate, value: 0 %>
                    <div class="star-icon">
                      <i class="far fa-star fa-2x ur"></i>
                      <i class="far fa-star fa-2x ur"></i>
                      <i class="far fa-star fa-2x ur"></i>
                      <i class="far fa-star fa-2x ur"></i>
                      <i class="far fa-star fa-2x ur"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8 offset-2">
                  <div class="field" id="security">
                    <span class="badge badge-danger">必須</span>
                    <%= fe.label :security, "プライバシー保護　　" %>
                    <%= fe.hidden_field :security, value: 0 %>
                    <div class="star-icon">
                      <i class="far fa-star fa-2x sec"></i>
                      <i class="far fa-star fa-2x sec"></i>
                      <i class="far fa-star fa-2x sec"></i>
                      <i class="far fa-star fa-2x sec"></i>
                      <i class="far fa-star fa-2x sec"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-6 offset-3">
          <%= f.submit '保存', class:"btn btn-secondary btn-block" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $("#is_active").click(function() {
    var geocoder = new google.maps.Geocoder();

    var isActive = document.getElementById("is_active");
    var checkIcon = document.getElementById("check-icon");
    var inputAddress = document.getElementById('input-address');
    var inputLatitude = document.getElementById( "input-latitude" );
    var inputLongitude = document.getElementById( "input-longitude" );
    geocoder.geocode({
      address: inputAddress.value
    }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var lat = results[0].geometry.location.lat();
        var lng = results[0].geometry.location.lng();
        console.log(status);
        console.log(lat);
        console.log(lng);
        inputLatitude.value = lat;
        inputLongitude.value = lng;
        isActive.className = "btn btn-success form-control";
        checkIcon.className = "fas fa-check";
        checkIcon.innerHTML = " OK";
      } else {
        inputLatitude.value = "";
        inputLongitude.value = "";
        isActive.className = "btn btn-danger form-control";
        checkIcon.className = "fas fa-exclamation-triangle";
        checkIcon.innerHTML = " Failed";
      }
    });
  });
  
  $( document ).on('turbolinks:load', function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
  
        reader.onload = function (e) {
          $('#avatar_img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  
    $("#post_img").change(function(){
      $('#avatar_img_prev').removeClass('hidden');
      $('.avatar_present_img').remove();
      readURL(this);
    });
  });

  $("#post_img").change(function() {
    var element = document.getElementById("post_img");
    console.log("element: " + element);
    var file = this.files[0];
    console.log("file: " + file);
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function () {
      var image = this.result;
      if ($('.prev-content').length != 0) {
        $('#coord_img').attr('src', image);
      }
    }
  });
  $(function() {
    var $input = $('#coordinate_name');
    $input.on('input', function(event) {
      var value = $input.val();
      console.log(value);
    });
  });

// for evaluation
  function mouseOver (element) {
    element.nextAll().removeClass('fas').addClass( "far" );
    element.prevAll().removeClass( "far" ).addClass('fas');
    element.removeClass( "far" ).addClass('fas');
  };

  function mouseLeave (element) {
    element.nextAll().removeClass('fas').addClass('far');
    element.prevAll().removeClass('far').addClass('fas');
    element.removeClass('far').addClass('fas');
  };

  function mouseClick (element, className, idName) {
    element.addClass(className).siblings().removeClass(className);
    var score = element.prevAll().length + 1;
    document.getElementById(idName).value = score;
  }

  $('.cleanliness').on('mouseover', function(){ mouseOver($(this)); });
  $('.cleanliness').on('mouseleave', function(){ mouseLeave($('.cleanliness-active')); });
  $('.cleanliness').on('click',function(){ mouseClick($(this), "cleanliness-active", "coordinate_evaluation_cleanliness"); });

  $('.breadth').on('mouseover', function(){ mouseOver($(this)); });
  $('.breadth').on('mouseleave', function(){ mouseLeave($('.breadth-active')); });
  $('.breadth').on('click',function(){ mouseClick($(this), "breadth-active", "coordinate_evaluation_breadth"); });
  
  $('.luxury').on('mouseover', function(){ mouseOver($(this)); });
  $('.luxury').on('mouseleave', function(){ mouseLeave($('.luxury-active')); });
  $('.luxury').on('click',function(){ mouseClick($(this), "luxury-active", "coordinate_evaluation_luxury"); });
  
  $('.ur').on('mouseover', function(){ mouseOver($(this)); });
  $('.ur').on('mouseleave', function(){ mouseLeave($('.ur-active')); });
  $('.ur').on('click',function(){ mouseClick($(this), "ur-active", "coordinate_evaluation_use_rate"); });
  
  $('.sec').on('mouseover', function(){ mouseOver($(this)); });
  $('.sec').on('mouseleave', function(){ mouseLeave($('.sec-active')); });
  $('.sec').on('click',function(){ mouseClick($(this), "sec-active", "coordinate_evaluation_security"); });



</script>

<style>
.fa .fas{
  font-size:30px;
}

</style>