<!DOCTYPE html>
<html>
  <head>
    <title>WCMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="page-wrapper chiller-theme toggled">
      <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <%= link_to " WC MAP", root_path %>
            <div id="close-sidebar">
              <i class="fas fa-times"></i>
            </div>
          </div>
          <!-- sidebar-header  -->
          <div class="sidebar-search">
            <div>
              <div class="input-group">
                <input type="text" class="form-control search-menu" placeholder="Search...">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <div class="catch">
              <p style="color: #6c7b88; padding-top: 15px;"><b>絞り込み検索</b></p>
            </div>
            <ul>
              <%= form_with scope: :column, url: search_path, local: true do |f| %>
                <li class="header-menu">
                  <span>利用時間</span>
                </li>
                <li class="sidebar-dropdown" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-sm-4 offset-2">
                      <p class="sb-p">利用開始</p>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <%= f.select :start_time, ["12:00", "12:15", "12:30", "12:45"], {}, class: "custom-select", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 offset-2">
                      <p class="sb-p">滞在時間</p>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <%= f.select :stay_time, ["5分", "10分", "15分", "20分"], {}, class: "custom-select", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="header-menu">
                  <span>その他</span>
                </li>
                <li class="sidebar-dropdown">
                  <div class="row">
                    <div class="offset-3">
                      <div class="custom-control custom-checkbox text-left">
                        <%= f.check_box :toilet_jp, class: "custom-control-input sb-menu" %>
                        <%= f.label :toilet_jp, "和式", class: "custom-control-label", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-3">
                      <div class="custom-control custom-checkbox text-left">
                        <%= f.check_box :toilet_west, class: "custom-control-input sb-menu" %>
                        <%= f.label :toilet_west, "洋式", class: "custom-control-label", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-3">
                      <div class="custom-control custom-checkbox text-left">
                        <%= f.check_box :washlet, class: "custom-control-input sb-menu" %>
                        <%= f.label :washlet, "ウォシュレット", class: "custom-control-label", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-3">
                      <div class="custom-control custom-checkbox text-left">
                        <%= f.check_box :powder_room, class: "custom-control-input sb-menu" %>
                        <%= f.label :powder_room, "パウダールーム", class: "custom-control-label", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-3">
                      <div class="custom-control custom-checkbox text-left">
                        <%= f.check_box :changing_table, class: "custom-control-input sb-menu" %>
                        <%= f.label :changing_table, "おむつ交換台設備", class: "custom-control-label", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-3">
                      <div class="custom-control custom-checkbox text-left">
                        <%= f.check_box :ostomate, class: "custom-control-input sb-menu" %>
                        <%= f.label :ostomate, "オストメイト", class: "custom-control-label", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-3">
                      <div class="custom-control custom-checkbox text-left">
                        <%= f.check_box :can_everyone, class: "custom-control-input sb-menu" %>
                        <%= f.label :can_everyone, "誰でもトイレ", class: "custom-control-label", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-3">
                      <div class="custom-control custom-checkbox text-left">
                        <%= f.check_box :gender_separation, class: "custom-control-input sb-menu" %>
                        <%= f.label :gender_separation, "男女別", class: "custom-control-label", style: "color: #818896;" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="offset-3">
                        <div class="custom-control custom-checkbox text-left">
                          <%= f.check_box :wheelchair, class: "custom-control-input sb-menu" %>
                          <%= f.label :wheelchair, "車いす対応", class: "custom-control-label", style: "color: #818896;" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 offset-3">
                      <%= f.submit "検索", class: "btn btn-sm btn-block font-weight-bold", style: "background-color: #3a3f48; color: #6c7b88;"%>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
          <%= link_to "", new_coordinate_path, class: "fas fa-plus"%>
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
          </a>
          <%= link_to "", root_path, class: "fas fa-map-marker-alt" %>
            <%# <span class="badge-sonar"></span> %>
          </a>
          <a href="#">
            <i class="fa fa-power-off"></i>
          </a>
        </div>
      </nav>
      <!-- sidebar-wrapper  -->
      <main class="page-content">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </main>
      <!-- page-content" -->
    </div>
    <%# <footer class="footer mt-auto py-3"> %>
      <%# <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3"> %>
            <%#= link_to "", "#", class: "fas fa-plus"%>
          <%# </div> %>
          <%# <div class="col-sm-3"> %>
            <%#= link_to "B", "#"%>
          <%# </div> %>
          <%# <div class="col-sm-3"> %>
            <%#= link_to "C", "#"%>
          <%# </div> %>
          <%# <div class="col-sm-3"> %>
            <%#= link_to "", "#", class: "fas fa-search" %>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>
    <%# </footer> %>
  </body>
</html>
